.btn-container {
  display: flex;
  gap: 12px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.form-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
